@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --accent: #eab308;
  --accent-hover: #ca8a04;
}

body {
  color: var(--foreground);
  background: var(--background);
}
